body{background-image: url:(https://i.redd.it/4oh9q6frvn871.jpg);}

h5{
    text-align:center;
    color:aqua;
    font-weight:heavy;
    font-size:30pt;
  }
p{
    color:aquamarine;
    font-size: 15pt;
}


b{color:brown; font-family:'Times New Roman', Times, serif; font-size: 20pt;}

ul{
    color:aquamarine;
    font-size:20pt;
}

table{color:beige}
