body{background-color: cadetblue;}

h5{text-align:centre}
p

{
    color:coral;
    font-size: 15pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


b{color:brown; font-family:'Times New Roman', Times, serif; font-size: 20pt;}

table{color:beige}
